#ignore live configuration file
config.ini
!template/config.ini

#ignore python virtual environment
.env*/
.ropeproject/
.venv

#ignore python cache
__pycache__/

#ignore python coverage
.coverage

#ignore python coverage html
htmlcov/

#ignore python coverage xml
coverage.xml

#ignore python coverage html
htmlcov/

#ignore python coverage xml
coverage.xml

#ignore Mac information for files
.DS_Store
__
